/* .App {
  text-align: center;
} */

.header-container {
  display: flex;
  justify-content: center;
}

.header-image {
  background-image: url('https://imgur.com/H5cS4BC.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: center;
  font-size: 80px;
  opacity: 0.8;
  box-shadow: 0 0 10px 10px white inset;
}

.list-container {
  display: flex;
  justify-content: center;
}

.list {
  flex-direction: column;
  font-size: 15px;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  position: relative;
}
.footer-img {
  border-radius: 50%;
  margin: 20px;
  padding: 20px;
}
